{% extends 'base_front.html.twig' %}

{% block title %}Food-X - Nouveau mot de passe{% endblock %}

{% block carousel %}

    <!-- Quote Start -->
    <div class="container-fluid bg-light overflow-hidden my-5 px-lg-0">
        <div class="container quote px-lg-0">
            <div class="row g-0 mx-lg-0">
                <div class="col-lg-6 ps-lg-0" style="min-height: 400px;">
                    <div class="position-relative h-100">
                        <img class="position-absolute img-fluid w-100 h-100" src="{{ asset('FrontOffice/img/bank.jpg') }}" style="object-fit: cover;" alt="">
                    </div>
                </div>
                <div class="col-lg-6 quote-text py-5 wow fadeIn" data-wow-delay="0.5s">
                    <div class="p-lg-5 pe-lg-0">


                        <h2>Entrez votre nouveau mot de passe </h2>

                        <form  method="post">
                            <h6>mot de passe</h6>
                            <input type="password" name="password" id="pass">
                            <input type="hidden" name="token" value="{{ token }}">
                            <button type="submit" class="btn btn-success" style="background-color: #1c294e ">Valider</button>
                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Quote End -->

{% endblock %}